@media only screen and (max-width: 1200px) {
  .img1{
    height:300px ;
    width: 250px ;
  }
  .container,.study,.box-container,.a-container,.edu{
    flex-direction: column;
  }
  .footer-details{
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }
  
  .outside-name{
    font-size: 15px;
  }
  @keyframes enlargeText {
    0% { font-size: 2rem;}
    20% { font-size: 2rem;}
    40% { font-size: 15px}
    100% { font-size: 15px}
  }
}
